.header {
    align-items: center;
    display: flex;
    margin-top:0px;
    padding-top:0px;
    background-color: #565dbe;
    height: 100px;
    justify-content: space-between;
    object-fit: contain;
    position: sticky;
    top:0;
    z-index: 100;
}
h1 {
    font-size: 40px;
    padding-bottom: 20px;
    color:black;
}

.header_logo {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    cursor:pointer;
}

.header_logo:hover {
    color:black;
}


.header_search {
    display: flex;
    align-items: center;
    width: 60%;
    min-width: 35%;
    padding-right: 20px;
}

input {
    width:100%;
    height:60px;
    border-radius: 28px;
    font-size: 24px;
    border: 5px solid black;
    font-weight: 700;
    /* padding-left: 10px; */
}

.videocamIcon {
    transform-origin: left bottom;
    padding-right: 6px;
}

.searchIcon {
    transform: scale(1.2);
    padding-left: 11px;
    cursor: pointer;
}

.searchIcon:hover {
    color: lightgray;
}

.homeLink {
    text-decoration: none;
    color: black;
}

.upload_logo {
    display: flex;
    align-items: center;
    /* margin-left: 40px;
    margin-right: 70px;
    padding-right: 20px;
    padding-left: 20px;
    cursor:pointer;
    text-decoration: none;
    border-radius: 10px; */
}
.upload_logo > h1 {
    font-size: 30px;
    padding-right: 8px;
    padding-top:25px;
    padding-bottom:0px;
}

.uploadLink{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 70px;
    padding-right: 20px;
    padding-left: 20px;
    cursor:pointer;
    text-decoration: none;
    border-radius: 10px;
}

.uploadLink:hover > h1{

    text-decoration: none;
    color: black;
}

.uploadLink:hover {
    background-color: lightgray;
}

.upload_logo:hover h1{
    color:black;
}