.header {
    align-items: center;
    display: flex;
    margin-top:0px;
    padding-top:0px;
    background-color: #565dbe;
    height: 100px;
    justify-content: space-between;
    object-fit: contain;
}
h1 {
    font-size: 40px;
}

.header_logo {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    cursor:pointer;
}

.header_search {
    display: flex;
    align-items: center;
    width: 65%;
    padding-right: 160px;
}

input {
    width:100%;
    height:50px;
    border-radius: 28px;
    font-size: 24px;
    border: 5px solid black;
    font-weight: 700;
}

.videocamIcon {
    transform: scale(2.4);
    padding-right: 8px;
}

.searchIcon {
    transform: scale(2.2);
    padding-left: 11px;
    cursor: pointer;
}

.homeLink {
    text-decoration: none;
    color: black;
}