.likeButtonBefore {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  border: 3px solid black;
  margin: 10px;
  }

.likeButtonBefore:hover {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    border: 3px solid green;
    margin: 10px;
  }

.dislikeButtonBefore {
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    border: 3px solid black;
    margin: 10px;
  }

.dislikeButtonBefore:hover {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    border: 3px solid red;
    margin: 10px;
  }

.likeButton {
  display: flex;
  align-items: center;
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  border: 3px solid green;
  margin: 10px;
  }

.likeButton:hover {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    border: 3px solid black;
    margin: 10px;
  }

.dislikeButton {
  display: flex;
  align-items: center;
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  border: 3px solid red;
  margin: 10px;
  }

.dislikeButton:hover {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    border: 3px solid black;
    margin: 10px;
  }

.container {
    display: flex;
    flex-direction: column;
}

.comment {
    background-color: white;
    border: 1px solid black;
    padding: 1%;
    overflow-wrap: break-word;
}

.videoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    width: 50%
}

.videoPlayer {
    display: flex;
    width: 100%;
}

.popularity {
    flex: 1;
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.feedback {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
    flex-basis: 100%;
}

.viewText {
  margin: 0px;
  color: grey;
}

.titleText {
  margin: 0;
  margin-bottom: 10px;
}

.titleViewCount {
  flex: 4;
}

.ratings {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.ratingButtons {
  margin: 0;
  display: flex;
  width: 100%;
}

.commentHeader {
  margin: 0;
  margin-left: 20px;
}

.submitButtonDiv{
  float: right;
  padding: 10px;
}

.submitButton{
  width: 30%;
  height: 50px;
  float: right;
  font-size: 20px;
  border-radius: 10px;
  background-color: greenyellow;
}

.submitButton:hover {
  cursor: pointer;
  width: 30%;
  height: 50px;
  float: right;
  font-size: 20px;
  border-radius: 10px;
  background-color: yellow;
}

.commentInput {
  margin-top: 10px;
}

.ratingText {
  margin-top: 10px;
  margin-bottom: 0;
}

.description {
  padding-left: 20px;
  padding-bottom: 20px;
}

.commentDirection {
  margin: 0;
  font-size: 15px;
  margin-left: 1%;
  color: grey;
}