.videoBox {
    border:5px solid black;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
    margin-right: 50px;
    box-shadow: 4px 4px 6px -2px #565dbe;
}

.videoBox:hover {
    background-color: rgb(231, 231, 231);
}

.playCircle {
    font-size: 70px;
    transform-origin: left;
    color: black;
    padding-left: 10px;
    padding-right: 20px;
    color: #565dbe;;
}

.videoText {
    color:black;
    font-size: 18px;
}

p {
    font-size:16px;
}

.videoBoxLink {
    text-decoration: none;
}
